
.partner-intro {
  .logos {
    .logos-partner {
      background-image: url('../images/logo/$partner$-logo.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
}

@media (--break-sm) {
  .partner-intro {
    background-image: url('../images/landing-bg-$partner$.png');
    background-size: cover;
    background-repeat: no-repeat;
    text-align: left;
  }
}
